.App {
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr ;
display: grid;
height: 100vh;
width: 100vw;
background-color: rgb(233, 233, 233);
font-size: 2.5rem;

align-items: stretch;
}

.Screen{
  grid-row: 1 /2;
  grid-column: 1 /5;
  background-color: rgb(155, 155, 155);
}

.Screen p{

font-size: 5rem;
font-weight: bold;

text-align: right;
line-height: 0rem;
margin-right: 5vw;

color: white;
}

.calc_button{
  border: 0.2px inset black;
}

.calc_button p{
  text-align:center;
}

#id_0{
grid-column: 1/3;
}
